%h3= "Users"

%table.table
	-	@users.each do |user|
		%tr
			%td= link_to user.display_name, user_path(user)
			%td
				- if policy(user).edit?
					= link_to "Edit", edit_user_path(user), class: "btn btn-primary"
					= link_to "Delete", user_path(user), method: :delete, class: "btn btn-danger"