%h3= "O serwisie"

Autorem niniejszego serwisu jest Jakub Polaczek. Serwis został stworzony w ramach projektu dyplomowego, realizowanego na studiach elektroniczne przetwarzanie informacji na uniwersytecie jagiellońskim. Stanowi integralną część pracy licencjackiej przygotowanej pod kierunkiem prof. dr. hab. Jerzego Koniora. 